*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
.newp{
  top: 10px;
  padding:10px;
  margin:auto;
  width:auto;
  background-color: rgb(25, 138, 25);
  border-radius: 3px;
  border: 1px solid gray;
  transition: 0.5s;
  box-shadow: 1px 2px 2px solid gray;
  color: #f0f5f9;
}

.newp:hover{
  background-color: rgb(32, 158, 32);
  cursor: pointer;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #f0f5f9;
  }
  .card1 {
    text-align: center;
    position: relative;
    margin-top: 15px;
    margin-bottom: 40px;
    padding: 20px;
    box-shadow: 3px 10px 20px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    border: 0;
  }
  .card2 {
    text-align: center;
    position: relative;
    margin-top: 15px;
    margin-bottom: 150px;
    margin-left: auto;
    margin-right:auto;
    max-width: 400px;
    padding: 20px;
    box-shadow: 3px 10px 20px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    border: 0;
  }
  .card3 {
    text-align: center;
    position: relative;
    margin-top: 15px;
    margin-bottom: 150px;
    margin-left: auto;
    margin-right:auto;
    max-width: 250px;
    padding: 20px;
    box-shadow: 3px 10px 20px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    border: 0;
  }
 
    .content {
      margin-top: 25px;
      display: flex;
      flex-direction: column;
      text-align: center;
    }
    h1 {
      font-size: 34px;
      font-weight: bold;
      margin-bottom: 0;
    }
    h2 {
      font-size: 18px;
      letter-spacing: 0.5px;
      font-weight: 300;
    }
    .social {
      margin-bottom: 5px;
    }
        a {
     text-decoration: none !important;
     color: black;
      margin-left: 8px;
      font-weight: 300;
        }
      i {
        font-weight: 400;
      }
    
    .location {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
      i {
        color: red;
      }
      p {
        font-weight: 300;
      }
    
.card-heder-custom{
  border-top: 5px solid green;

}

.custom-card-title{
  padding: 3px 40px ;
}

.nav-link{
  color: whitesmoke !important;
}

.navbar{
  background-color: green !important;
}

.navbar-brand{
  color: whitesmoke !important;
}